[2019-09-22 01:57] ijustlearn opened #1 "The path to the source file will be copied"
example:
[code]
after action, cat file on server:
[code]
so , the issues is：
The path to the source file will be copied。
Unlike executing the cp command on the host。

Thanks～

[2019-09-28 01:53] appleboy opened #2 "migrate HCL to yaml"

[2019-09-28 04:17] #2 closed

[2019-09-28 04:47] appleboy commented on #1
remove the specified number of leading path elements

[code]

old target structure:

[code]

new target structure:

[code]

[2019-09-28 04:47] #1 closed

[2019-10-08 01:13] enginaar opened #3 "ssh: command mkdir -p test failed"
Hello,

I'm afraid I'm failing to use this action properly. I'm trying to upload files to the root folder of my ssh user account but wasn't able to get past the error below when executing scp-action step in my workflow. I've finally tried with a target folder name but still getting the same error.

15 scp file to server.
16 create folder test
17 drone-scp error:  ssh: command mkdir -p test failed

[2019-10-23 22:31] VictorioBerra opened #4 "Can you explain what the tar stuff does?"
Does this always tar the files first and then untar them on the server?

[2019-10-24 19:40] VictorioBerra opened #5 "Untar as SUDO?"
Getting permission denied for the target. I assume it needs to untar as root? Any flag for that?

[2019-11-10 19:25] seanmavley opened #6 "source to target file copying, kinda confusing"
[code]

So I build angular with `ng build --prod`. The files end up in the `./dist/pwa` folder

I want to copy contents (only the contents of) the `./dist/pwa` folder, into the server, at `/home/user/domain.com/pwa`

To put in perspective, here's how I do with a normal scp command
`scp -r ./dist/pwa/* domain@domain.com://home/user/domain.com/pwa`

What am I missing? With the above github action, i

[2019-11-14 10:56] ernierasta commented on #6
Hi, no expert here, but just add `strip_components: 2` and it should work fine?

[2019-11-14 12:03] seanmavley commented on #6
Thanks @ernierasta You're right, that's the solution.

[2019-11-14 12:03] #6 closed

[2020-01-03 00:39] alan345 opened #7 "tar: empty archive - Docker run failed with exit code 1"
I could not understand which variable could be wrong?
We maybe need a better error message?

[code]

with colors:
![image](https://user-images.githubusercontent.com/15246526/71701418-20582c00-2d7e-11ea-85dc-d0ba7a21fe33.png)

[2020-01-05 11:54] joshp-f commented on #7
I received this issue when the 'source' field pointed to a non-existent folder.
I was able to fix it by using:
`source: "/home/somedir/somedir.../somefile"`

[2020-01-10 08:01] flightcode opened #8 "error copy file to dest: ***, error message: Process exited with status 1"
I'm getting an issue where I can't deploy the file because of the issue above. I have created an ssh user, and the folder I am trying to push to is a subdirectory of the user's home. I have tried giving the user root perms, but not working.

[2020-01-10 08:08] #8 closed

[2020-01-22 15:16] appleboy commented on #5
@VictorioBerra Please grant permission for the deploy user account.

[2020-01-22 15:16] #5 closed

[2020-01-22 15:19] appleboy commented on #7
target is the folder path, not the file path.

[2020-01-28 12:35] Lecarvalho opened #9 "missing source or target config"
Hi, I received this error when trying to publish the files to server:

![image](https://user-images.githubusercontent.com/5149784/73264368-9c3c6d00-41a0-11ea-91b7-a41c099f9a43.png)

I'm using SSH configuration with the secrets key.

Can you please help me?
Thanks.

[2020-01-30 14:43] appleboy commented on #9
Please upgrade to [the latest version](https://github.com/appleboy/scp-action/releases) and also see [the example](https://github.com/appleboy/scp-action#example).

[2020-01-30 14:43] #9 closed

[2020-02-03 02:18] lyy99 opened #10 "How to ignore a folder, and how to set rm env?"
Hi,
This is a very useful GitHub action plugin, thanks for your hard work.

I got two issues when copying the artifacts to a remote machine:
1. how to ignore some folder in the source. The example only shows how to ignore a single file, and I tried to set it as below, however it does not works.
    source: "folder1/,folder2/,!node_modules/"
2. I expect the target folder was removed before copying,

[2020-02-25 15:45] appleboy commented on #10
2. `rm` is boolean flag.

[2020-02-27 14:55] strebl opened #12 "How to handle file ownership"
The ownership of the files we deploy is wrong. Is it possible for you to add an option to set owner (user and group) after deployment?

[2020-03-01 11:21] muthugit opened #13 "How can i believe the security behind this?"
Even I am saving the SSHKEY on the secret, how I can ensure that the overall cycle is secure one. Means, the theft of the SSHKEY. Can you please confirm that, our SSHKEY is secure one and not to share with anybody?

[2020-03-02 08:44] appleboy commented on #12
What is your use case? Why you need to change the ownership after deploying? I think it always aligns with the deploy account.

[2020-03-02 08:47] appleboy commented on #13
You can trust the plugin which doesn't store your SSH Key. But you can't trust the GitHub Actions.

[2020-03-02 08:47] #13 closed

[2020-03-02 09:14] strebl commented on #12
Because the deploy account is not the same user in this case. For example the deploy account is "deploy" and the webserver is running under www-data.

[2020-03-02 13:39] sgurlt opened #14 "SCP Vice Versa"
Is it possible to copy from a remote server to the local runner?

Would be nice to download artifacts which have been generated using your ssh-action ;-)

[2020-03-02 14:08] appleboy commented on #12
maybe you should use the `ssh-action` to change the ownership?

[2020-03-03 14:56] strebl commented on #12
Ah I didn't see that action. I'll use that, thx!

[2020-03-03 14:56] #12 closed

[2020-03-05 02:19] lyy99 commented on #10
Yes, correct. Can I do that?

[2020-03-22 17:51] moh-slimani opened #15 "error message: ssh: handshake failed: ssh: no common algorithm for key exchange; client offered: [curve25519-sha256@libssh.org ecdh-sha2-nistp256 ecdh-sha2-nistp384 ecdh-sha2-nistp521 diffie-hellman-group14-sha1], server offered: [diffie-hellman-group-exchange-sha256]"
I'm getting this error

[code]

complete log

[code]

[2020-03-23 01:24] appleboy commented on #15
please post your config.

[2020-03-23 21:21] Mohamed-SM commented on #15
[code]

[2020-04-01 16:24] Deph0 commented on #8
Why was this closed? Was it fixed for you? if so how?

I am getting the same issue trying to deploy a folder

scp file to server.
2020/04/01 16:21:18 error copy file to dest: ***, error message: Process exited with status 1
drone-scp error:  error copy file to dest: ***, error message: Process exited with status 1

[2020-04-14 11:51] manico opened #16 "Tmp creation timestamp issue"
Hello, I have successfully build job but no files on target server.
In action log I got this:

[code]

Isn't job supposed to fail if some error happens?
Anyways, do you know how to get around this?

[2020-04-16 03:33] mattbag commented on #16
Ehy check the files go in the correct folder. It doesn't look like a fail

[2020-04-19 14:58] Pedroglp opened #17 "Something seems weird with connections"
Everytime I use twice in a roll one of your actions, the second one can't be completed due a time out.

This first time it happened after I used the scp to copy my frontend files then the backends files. Always the backend files ended up with time out. So I've decided to split in two workflows, one looking for the frontend folder and the other for the frontend.

But even after that, the backend st

[2020-04-21 09:00] Albinzr opened #18 "Trying to connect thru port 4000 automatically"
[code]

How to solve this issue

[2020-04-22 02:32] ouoam commented on #7
I have same problem. I use target is the folder path
![image](https://user-images.githubusercontent.com/12713801/79934158-11f06600-847c-11ea-83a8-fdf6d8d0c35b.png)

[2020-04-22 08:53] xuyunan opened #19 "Can i upload all files of a source directory?"

[2020-05-02 20:50] clairmont32 commented on #15
@appleboy I am having the same issue despite giving the secret the private key. Here's the Actions output and config:

![image](https://user-images.githubusercontent.com/6239004/80891826-8f924e00-8c94-11ea-87cd-0de9d6347a34.png)
[code]

[2020-05-03 02:59] appleboy commented on #15
@clairmont32 Please don't use `env` setting. see the reference: https://github.com/appleboy/scp-action#input-variables

[code]

[2020-05-03 20:10] clairmont32 commented on #15
Hi @appleboy, that didnt yield a different result. If it's supposed to be `with` instead of `env` the marketplace docs will need to be updated. I think this may be a local server config but I'm able to SSH into it with only cert auth from 2 other machines so I'm unsure as to why the action is failing. I'm going to try a manual SCP command when I get a chance to see if I can get it to work that way

[2020-05-04 01:17] appleboy commented on #15
@clairmont32 I updated the docs.

[2020-05-04 02:32] appleboy commented on #15
I will release a new version for this feature. ref: https://github.com/appleboy/ssh-action/issues/36

[2020-05-04 02:34] appleboy commented on #19
Yes. What is your problem? maybe you can tar all files first and upload the single tar file.

[2020-05-04 02:34] #19 closed

[2020-05-04 02:35] appleboy commented on #18
Do you have `.env` file in the project folder?

[2020-05-04 07:19] appleboy commented on #15
Please try the 0.0.9 version. https://github.com/appleboy/scp-action/releases/tag/v0.0.9

[2020-05-04 13:21] Albinzr commented on #18
yes, i have env file for docker variables, but how is this taking it from .env also if so can this be disabled?

[2020-05-04 14:39] appleboy commented on #18
@Albinzr I will take it.

[2020-05-04 14:40] appleboy commented on #18
I will fix the bug asap.

[2020-05-04 16:59] Albinzr commented on #18
Can you let me know how its picking values inside .env and why?

[2020-05-04 20:29] amoravec commented on #15
I'm still seeing the exact error with v.0.0.9.  Please consider re-opening.

`    target: /home2/***/public_html/staging
    rm: true
    host: ***
    username: ***
    key: ***
    passphrase: ***
    port: 22
    timeout: 30s
    command_timeout: 10m
    strip_components: 0
    overwrite: false
    proxy_port: 22
    proxy_timeout: 30s
/usr/bin/docker run --name c27d31630ce8dd596b4b11b133a6e413

[2020-05-05 01:13] appleboy commented on #15
@amoravec Could you provide some instructions about how to generate the ssh key, your ssh server version, and related config?

[2020-05-05 01:59] appleboy commented on #18
@Albinzr bump to v0.0.10 Please try the version.

[2020-05-05 01:59] #18 closed

[2020-05-05 02:28] amoravec commented on #15
I generated the keys with ssh-keygen.. 'ssh-keygen -t rsa -b 4096'
Local SSH version : SSH-2.0-OpenSSH_8.0p1 Ubuntu-6build1
The remote server is OpenSSH 7.4.

The server is a hosting provider, I cannot read the configuration, but looking at ssh -vvv, it appears they have locked down the KexAlgorithm to only  'diffe-hellman-group-exchange-sha256'..

[code]

[2020-05-08 05:25] riverar opened #21 "Make it clear this does not work on Windows"
![image](https://user-images.githubusercontent.com/475132/81373389-87ca1380-90b1-11ea-8a72-e968a81d665d.png)

Hi team, I built this awesome workflow around scp-action, ran it, then cried when I saw
[code]

I don't see mention of this limitation in any of the documentation.

[2020-05-08 11:04] #21 closed

[2020-05-13 09:49] erguotou520 opened #23 "Better to provide job status in output."
It's better to add output with job status in `action.yml`. More outputs(like job duration) are better.

I think it's better to use `steps.<step id>.outputs.status` rather than `if: ${{ success() }}`.

[2020-05-21 15:00] emha commented on #7
I also experience the same error and the target is an existing folder path. The complete GitHub-Repository should be uploaded to the server.

[code]

Any new on this?

[2020-05-21 15:15] appleboy commented on #7
I will reproduce the problem first.

[2020-05-21 15:17] appleboy commented on #7
@emha What is your error message?

[2020-05-21 15:21] emha commented on #7
Same as from @ouoam

[code]

[2020-05-21 15:22] emha commented on #7
In a previous run the last lines were switched. Don't know it this is useful information

[code]

[2020-05-21 15:49] appleboy commented on #7
Hi All, the `source` must be an existing file or path. You will get the `tar: empty archive` if `source` does not exist.

[2020-05-21 15:55] emha commented on #7
Thanks for investigating!
What would be a correct path for `source` when I want to add all files? `/*` seems not to work as I get the error `removing leading '/' from member names` but a single `*` is working neither as described above.

[2020-05-21 16:04] emha commented on #7
I use the same action file in a different repository and the deployment works in there. Now I found that the files weren't exactly the same. The file which throws the error was missing the line
`- uses: actions/checkout@master` before starting with the appleboy script. So the file looks now like this

[code]

This seems to be the "bug" which isn't appleboy related because the appleboy script can't

[2020-05-21 16:08] appleboy commented on #7
Please try the latest version

[code]

[2020-05-21 16:09] appleboy commented on #7
See more example:

[code]

[2020-05-21 16:10] #16 closed

[2020-05-21 16:15] emha commented on #7
Thanks for your quick responses! For me this issue is fixed now :)

[2020-05-21 16:38] #7 closed

[2020-05-22 02:28] appleboy commented on #4
1. tar all files
2. SCP to the remote server
3. untar on the remote server
4. remove the tar file on the remote server

Thanks.

[2020-05-22 02:28] #4 closed

[2020-05-22 12:35] JohannesKuehnel commented on #15
@clairmont32 Did you solve your issue? I am running into the same error.

Actions Config:
[code]

SSH-Key was generated via `ssh-keygen -t ed25519 -a 100` and the public key is in my server's `authorized_key` file and connecting via console works.

[2020-05-22 12:48] appleboy commented on #15
@amoravec Can you help to try the v0.0.11 version. https://github.com/appleboy/scp-action/releases/tag/v0.0.11

[2020-05-22 17:46] erikw opened #24 "Step "Run actions/checkout@master" started to fail"
Hello!

I've used this action successfully for a while. Last time I used it was 2020-04-13. Today I pushed another commit to the master branch but discovered that this action now failed. No changes has been made to the repository or the Github settings for it in this time period.

It fails on the step "Run actions/checkout@master":

[code]
![Screen Shot 2020-05-22 at 19 44 54](https://user-images.

[2020-05-22 17:46] clairmont32 commented on #15
@JohannesKuehnel honestly, I haven't tried in a couple weeks due to various work/life things.

 @appleboy I'll give it a try this weekend

[2020-05-22 17:52] erikw commented on #24
Uh, I just realized that the problem is in the checkout Action...
and there's already an issue @ https://github.com/actions/checkout/issues/254

[2020-05-22 17:52] #24 closed

[2020-05-23 14:13] appleboy commented on #15
@clairmont32 Please update your client ssh config:

1. open `/etc/ssh/ssh_config`
2. update `KexAlgorithms` setting and add `diffie-hellman-group-exchange-sha256`

[2020-05-23 14:49] appleboy commented on #15
@clairmont32 I will bump the new version to fix this issue.

[2020-05-24 06:36] appleboy commented on #15
@clairmont32 Please try the https://github.com/appleboy/scp-action/releases/tag/v0.1.0 version and update config as following:

[code]

You must make sure the `use_insecure_cipher` set as `true`.

[2020-05-24 06:36] #15 closed

[2020-05-25 15:34] clairmont32 commented on #15
@appleboy I copy/pasted the above but kept my source, target, and changed `SSH2` to `SSHKEY` since that's my secret's name. I received the below error. Please let me know if there's anything I need to do on the server side or change within the action.

![image](https://user-images.githubusercontent.com/6239004/82826700-a2570780-9e7b-11ea-8528-d74ece6c48c9.png)

![image](https://user-images.githubu

[2020-06-13 14:14] raoulvdberge opened #26 "dial tcp: lookup on ***: no such host"
Hi there,

scp-action keeps failing randomly. It is able to upload the files, create folders, etc. But when it's finished, it throws this error and removes all uploaded files again.

Any idea why?

https://github.com/refinedmods/website/runs/768264891?check_suite_focus=true

[2020-06-15 05:05] k----n opened #27 "Have to set environment variables not like README"
It appears that the following works:
[code]

But this does not work (config similar to README):
[code]

[2020-06-15 05:32] appleboy commented on #27
It is working on my test case:

https://github.com/appleboy/scp-action/blob/31b514c281a0a0482b28bddbf92d2e912933b38a/.github/workflows/ci.yml#L43-L52

[2020-06-15 05:59] k----n commented on #27
That's strange, when I run that configuration it sets the destination as `localhost` for drone scp.

Error messages:
[code]

[2020-06-15 07:05] appleboy commented on #27
remove the `.env` file in the current folder.

wrong ssh port.

[2020-06-15 07:06] appleboy commented on #27
See the same issue: https://github.com/appleboy/scp-action/issues/18

[2020-06-15 07:11] k----n commented on #27
Okay, I do have a `.env` with `HOST` and `PORT` as variables in my folder.

So I don't think #18 is resolved?

[2020-06-15 07:18] appleboy commented on #27
What is your scp-action version? I think this should be resolved in the latest version.

[2020-06-15 07:20] k----n commented on #27
I am using `appleboy/scp-action@master`.

[2020-06-15 08:05] appleboy commented on #27
@k----n Please try the latest version again.

[2020-06-15 08:06] appleboy commented on #26
post your YAML config?

[2020-06-15 08:22] k----n commented on #27
Thanks, commit https://github.com/appleboy/scp-action/commit/167d6d7ff4ab2dd21c9b326869a91a27d559b110 fixes it.

[2020-06-15 08:22] #27 closed

[2020-06-15 08:22] raoulvdberge commented on #26
[code]

[2020-06-17 01:05] appleboy commented on #26
Can you help to try it again? I see the wrong host in your log:

[2020-06-17 18:33] yalamber commented on #5
@appleboy what permission do we need to grant deploy user?

[2020-06-17 21:44] appleboy commented on #5
@yalamber 0755 and make sure the owner of the folder.

[2020-06-24 06:50] Pikachews opened #28 "Can't use environment variable for target"
This does not seem to work:
[code]
(I have my env vars defined at the top-level.)

It prints the following output:
[code]
It says literally `$TARGET_PATH` in there, instead of the value of $TARGET_PATH.

[2020-06-24 20:28] haron4igg opened #29 "dial tcp ***:***: connect: connection timed out"
Hi!

My pipeline worked fine before, but after some time of inactivity, i keep getting this error periodically. I have few steps with this plugin, one step runs fine, but second step - i get this error. Next run - opposite, first step fails.

[code]
Log:
[code]

[2020-06-30 13:11] IanBarnesZa opened #30 "SCP Proxy Not working - SSH Handshake Failed"
Hi,

I am getting the following error when attempting to SCP a file using a jump host (proxy):
[code]

More details from that output:
[code]

My config:
[code]

The really strange part is if I use ssh-action (https://github.com/appleboy/ssh-action) with the same config I can run commands just fine...

Here is that config:
[code]

And output from that:
[code]

Any ideas?

Thanks
Ian

[2020-07-05 15:28] haron4igg commented on #29
Issue dissapeard while ago by its own.... probably was some GitHub network issue.

[2020-07-06 03:59] mbmohib opened #31 "How to exclude node modules and copy all directory"
I want to exclude node_modules and copy all directory to a remote server? How to do that?

[2020-07-14 01:32] jcai opened #32 "How to use work-directory setting?"
I find the work-directory setting in yml  is ignored.

[2020-07-17 01:46] oneEyedSunday commented on #30
Hello @IanBarnesZa im also running into this issue at the moment.
[code]

[2020-07-17 06:27] praveentcom opened #33 "Add documentation to let users know how to upload entire repo"
Maybe like `source: '*/*.*, *.*'` would help. Most use cases would be to upload the entire code repo.

This phrase will upload the entire set of repo files and unwrap the tar in the destination. This would be great add on to the GitHub Actions listing.

FYI. @appleboy

[2020-07-21 08:55] kimk1029 opened #34 "Can we send the entire source folder?"
I am going to send the entire folder using scp. But there's an error. Is it because I put the folder name in the source parameter?

The error is as follows.

`
...
..
tar all files into /tmp/224126534/uNyJo54J6q.tar
tar: empty archive
exit status 1`

[2020-07-24 01:30] kimk1029 commented on #34
I saw one of the answers you registered on the issue and the bug was corrected. But it's not the way I wanted it.
You recommend sending the entire current folder with a "*" on the source. But after building, I want to send the result that was built using the scp module, but it is not t

[2020-07-24 22:25] sampsyo commented on #30
I'm seeing the same thing, right down to the mysterious `attempted methods [none]`. Any chance you found a solution, @IanBarnesZa?

[2020-07-29 12:02] quynhlv commented on #30
I got the same error but no luck for me.

[2020-08-02 18:33] chgad opened #35 "Error: Empty tar archive with artifact download"
Hello everyone,
i'm experience the following error

    tar all files into /tmp/934282472/j1Gg65oXbW.tar
    tar: empty archive
    exit status 1

when trying to upload the files/directories of an artifact to a server with the following workflow:

    deploy-dive-staging-gh:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - uses: actions/checkout@v2
        - run: mkdir ~/dist

[2020-08-22 02:03] abr4xas opened #36 "environment variables not like README"
This is related to #27

For me this works as expected:

[code]

[2020-08-24 05:40] altavir opened #37 "CentOS - Inappropriate ioctl for device"
I am trying to deploy a statically generated site to a CentOS server. After some playing around I managed to make authentication work, but now I am permanently stuck with `drone-scp error:  stty: standard input: Inappropriate ioctl for device` error. Are there any solutions for that?

[2020-09-03 01:21] BrunoFDeveloper commented on #31
To copy all and exclude only node_modules you can do `source: ".,!node_modules"` for example.

[2020-09-03 01:27] appleboy commented on #31
@mbmohib Please try @BrunoFDeveloper answers.

[2020-09-03 01:27] #31 closed

[2020-09-03 01:29] appleboy commented on #36
You can see the full example: https://github.com/appleboy/scp-action/blob/master/.github/workflows/ci.yml

[2020-09-03 01:29] #36 closed

[2020-09-03 01:31] appleboy commented on #34
@kimk1029 Post your config first.

[2020-09-03 01:32] appleboy commented on #32
post your config.

[2020-09-03 01:33] appleboy commented on #33
I will add example `upload the entire code repo`.

[2020-09-09 04:59] williamli opened #38 "Is it possible to add `env` support? My `target` is stored as an `env`"
[code]

Right now the above fails and there is no way for me to pass `envs` to the action as https://github.com/marketplace/actions/ssh-remote-commands.

What is the best way to pass DEPLOY_PATH to the action?

[2020-09-09 05:01] williamli commented on #38
I guess this is a possible workaround for now, or storing the DEPLOY_PATH as a secret.

[2020-09-10 16:57] ShepardEG commented on #35
Same issue

[2020-09-11 09:06] #33 closed

[2020-09-16 22:32] joeyorlando commented on #33
`source: '*'`  should work (See [here](https://github.com/appleboy/drone-scp/blob/6d6124e8d8fd3defbee0aa892de28a28c64223ba/DOCS.md), this helped me)
![Screen Shot 2020-09-16 at 6 31 14 PM](https://user-images.githubusercontent.com/9406895/93399093-d4391300-f84a-11ea-91d6-cf19efba0164.png)

[2020-09-16 22:32] joeyorlando commented on #34
`source: '*'`  should work (See [here](https://github.com/appleboy/drone-scp/blob/6d6124e8d8fd3defbee0aa892de28a28c64223ba/DOCS.md), this helped me)
![Screen Shot 2020-09-16 at 6 31 14 PM](https://user-images.githubusercontent.com/9406895/93399093-d4391300-f84a-11ea-91d6-cf19efba0164.png)

[2020-09-16 22:43] appleboy commented on #34
See https://github.com/appleboy/scp-action/issues/33

[2020-09-16 22:43] #34 closed

[2020-09-16 22:43] #38 closed

[2020-09-17 06:23] ThomasAunvik opened #39 "SCP to Windows Server Successful Transfer, Fails to send to send to the correct folder."
[code]
SCP Action fails, but SSH Action works (when it is above SCP Action), which implies that there is nothing wrong with the ssh connection.

STAGING_TARGET_UPLOAD tested with these inputs:
* `C:\Users\username\targetFolder`
* `C:\Users\username\targetFolder\`
* `targetFolder`

[code]

Is there a way to debug this error, cause there is not much useful information given.

[2020-09-25 03:21] ivanberry commented on #8
Did you fix this problem?

[2020-09-29 09:15] tbhaxor commented on #30
I am too getting error. actually I was able to deploy on vultr servers but having problems with digitalocean servers with same variables...

[2020-09-30 12:17] Deph0 commented on #8
No, i gave up.

[2020-10-08 18:49] tbhaxor opened #40 "Unable to upload contents of local folder to remote folder"
My content of source folder are `dist/*` and want to upload all the files and folders recursively into `/var/www/html` or remote

It is uploading them to `/var/www/html/dist`

[2020-10-09 09:00] appleboy commented on #40
Try the config `strip_components: 1`

[2020-10-11 15:18] tbhaxor commented on #40
It worked thanx :heart:

[2020-10-11 15:18] #40 closed

[2020-10-11 20:22] Keized commented on #29
I got this error when I forgot to open the port I'm using for ssh.

[2020-10-24 05:08] tbhaxor opened #41 "How to upload a file/folder as another name"
Is there any equivalent to the following command

[code]

[2020-11-01 14:55] GRcwolf commented on #35
I had the same issue however i could fix it by removing the '~' and just use the relative paths.
So in your case I did something like this:
[code]
Note that I have changed both the path where the artifact is saved and the source of the scp action.
I hop this can also solve your problem.

[2020-11-01 17:36] paolorr opened #42 "Ignore files with extension"
I'm trying to skip all the files with `.spec.js` extension in any folder, but it's not working, these files are also copied
[code]
What am I missing?

[2020-11-10 18:53] amaurybrisou commented on #28
@Pikachews  I had the same issue concatenating variables in my target, just define a global env variable like below

[code]

[2020-11-27 08:35] jasonaw79 commented on #29
I am having the same error also, any solution to this?

[2020-11-28 05:26] NobeKanai opened #43 "Don' t remove the target folder with option "rm", empty it instead"
I don't think to remove the target folder and then recreate it is a good idea, consider empty the sub-files and sub-folders in the target folder.

I think this could avoid some problems like docker's mounting

[2020-12-01 16:13] triaton commented on #29
Same here. I can do run ssh action with the same ssh key but it show this timeout error with this action. Any clue?

[2020-12-03 09:57] Pikachews commented on #42
@appleboy bump, any chance of fixing this? ☹️

[2020-12-16 17:06] jasonaycock commented on #28
The workaround is to reference the environment variables as `${{ env.VAR }}`, such as:
[code]

[2020-12-20 10:48] studiovlijmscherp commented on #29
Same issue here. Deployment worked flawless yesterday. Today connection time out. Still can SSH into server with same credentials 🤷🏻‍♂️

[2020-12-20 19:56] agners opened #45 "tmp file conflict running two runners on the same host"
Running three runners on the same host it seems that two of the runner which apparently finished almost at the same time run into an upload failure on both workflows. It seems the two workflows used the same tmp file name:

Runner 2
[code]

Runner 3
[code]

How is the tmpfile name generated?

[2020-12-25 16:22] kwiat1990 commented on #6
@ernierasta thanks for that one. It works like a charm :smiley:

[2020-12-25 22:36] appleboy commented on #45
post your config?

[2020-12-28 14:29] kwiat1990 opened #46 "Let execute some commands before moving files"
Hi,

I ran into some issues with current action. On my server I have files (dot files like `.htacess` and `.env`), which need to stay untouched, while other files need to be replaced. As some of the files to replace contain hash in their names, there are multiple copies of the same file on the server (after every new deployment a new one comes). So ideally I would like delete all files in the targ

[2020-12-28 23:34] agners commented on #45
This is the config which caused the issue:
https://github.com/home-assistant/operating-system/blob/dev/.github/workflows/dev.yml

[2021-01-05 07:09] CPPAlien opened #47 "How to scp a directory recursively?"

[2021-01-20 17:03] pascalandy commented on #47
I trying to hack my way this as well. Syntax is not clear so far.

[2021-01-20 17:04] pascalandy commented on #43
Same here. I expect this behavior `rsync -aczvAXHS --delete`
, not rm the whole dir

[2021-01-21 01:57] pascalandy commented on #47
Here is how I was able to do it:

## the build

`${{ env.HOMMY }}` is at the root of the github actions workspace.
The final build is `${{ env.THEME_NAME }}`

[code]

## sync the build

[code]

[2021-01-23 23:04] rivanbello commented on #13
@appleboy why can't we trust Github Actions? Is there something we should be wary of?

[2021-01-24 00:50] appleboy commented on #13
@rivanbello because GitHub stores your ssh private key and password and you don't know how it works.

[2021-01-24 00:53] appleboy commented on #47
directory structure:

[code]

Just following YAML config to SCP `bar` folder:

[code]

[2021-01-24 00:54] #47 closed

[2021-01-29 04:32] Yanchenkov commented on #30
I got the same issue.

The same config works in ssh-action, but scp-action failed with error "ssh: handshake failed: ssh: unable to authenticate, attempted methods [none]".

[2021-01-29 11:04] devmount commented on #3
Same here. This config:

[code]

throws these errors:

[code]

Any update on this?

[2021-01-31 10:56] carolusjoseph commented on #46
as i know in documentation there is can ignore list

[2021-02-02 22:54] ousid opened #49 "Cannot open: File exists"
What seems to be the problem: Automated deploy was working perfectly until now I got this error when I push changes:

![image](https://user-images.githubusercontent.com/21012933/106673410-d90c2280-65b1-11eb-8819-af33e136edc0.png)

Any help I'll be appreciated.

[2021-02-03 19:34] ousid commented on #49
Updates:
I solved my problem, it was a permission issue

[2021-02-08 18:56] kevinmamaqi commented on #46
Is it possible to erase destination folder before deployment?

[2021-02-09 00:13] carolusjoseph commented on #46
use another plugin first ([](https://github.com/marketplace/actions/ssh-remote-commands))

[2021-02-09 08:55] kwiat1990 commented on #46
Yeah, it is mention in docs but it won't work in this case as `rm` command takes only a boolean, so it either removes the entire target directory or does nothing. No options can be passed.

[2021-02-10 23:49] appleboy commented on #46
@kwiat1990 OK, maybe I can add new parameter to setup the ignore list and replace the `rm` with `find ... -exec` command like as below:

[code]

[2021-02-10 23:56] appleboy commented on #3
I will try it.

[2021-02-11 07:31] kwiat1990 commented on #46
@appleboy hi, thanks for you feedback. It seems to be a good idea. In my case I need to preserve multiple files, so from my perspective it would be important that the command let me do that.

[2021-02-13 19:09] koolwithk opened #50 "source path is not working as expected"
Below code copying the code inside  `/home/user1/web/user1/public_html/dist/note/` ?

[code]

But it  should copy the code from `./dist/note/*`  to `/home/user1/web/user1/public_html`

[2021-02-15 18:28] koolwithk commented on #50
after adding **strip_components** it was working

[code]

[2021-02-15 18:28] #50 closed

[2021-03-03 07:09] saqibameen commented on #8
@ivanberry what did you do about it?

[2021-03-03 07:11] saqibameen opened #51 "error copy file to dest: ***, error message: Process exited with status 1"
It's a duplicate of #8. So I am getting this error:

tar all files into /tmp/745735171/nZiZOczyk2.tar
scp file to server.
2021/03/03 07:08:04 error copy file to dest: ***, error message: Process exited with status 1
drone-scp error:  error copy file to dest: ***, error message: Process exited with status 1

Can somebody help? I am trying to run it on self-hosted GH Actions.

[2021-03-10 22:41] bad-mushroom commented on #51
I was just dealing with the same error when I found your issue. In my case it was because the directory I was SCP'ing the tar file to didn't exist. I didn't realize that SCP wouldn't create the directory 🤦

Once I manually created the directory and confirmed my SSH user could write to it:

[code]

[2021-03-11 01:03] #51 closed

[2021-03-11 08:28] matthew-williamson-sd commented on #51
Just as a tip for others coming across this: you also get this error if your user does not have a home directory. I believe the action first scps the file into the user's home directory, and then performs a move.

[2021-03-19 13:08] Pumpk1ns opened #52 "error copy file to dest: ***, error message: dial tcp *** i/o timeout"
I have been using this actions in one of my projects. So far it works fine, but sometimes I get the following error:

[code]

[2021-03-23 22:24] bicrypt commented on #30
Same issue here!

Also using ssh-action and wanting to use scp-action to copy files first, but no luck.

[2021-04-03 02:00] wesleyfeitosa commented on #52
Same error here

[2021-04-03 04:15] wesleyfeitosa commented on #52
@Pumpk1ns check with your cloud provider if the ssh port (22) is released for everyone to access, after I make these releases my pipeline ran successfully

[2021-04-11 18:40] ZhilinS commented on #52
Same here, but with remove old .tar
[code]

So it's able to upload file but unable to delete .tar.

[2021-04-22 09:28] manuel-cid commented on #30
I'm getting the same error

I'm using ssh-action with proxy and it works like a charm, but scp-action with the same configuration fails

`error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain`
`drone-scp error:  error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable to authenti

[2021-04-23 00:34] appleboy commented on #30
@manuel-cid I will take it. I will find out what's different between `scp-action` and `ssh-action`.

[2021-04-27 12:32] ravgeetdhillon commented on #14
Any update on this issue?

[2021-05-01 10:06] Gutyerrez opened #53 "Error: Input required and not supplied: key"
I receive this error:

[code]

My action:

[code]

My secrets

![image](https://user-images.githubusercontent.com/36475012/116779271-bb811480-aa4b-11eb-9626-3b706f948a1e.png)

[2021-05-01 10:45] #53 closed

[2021-05-13 09:28] krunalvora commented on #17
I faced a timeout when using ssh-action after scp-action too.

[2021-05-15 20:21] nicklasfrahm commented on #14
@sgurlt @ravgeetdhillon I created [an action for this](https://github.com/nicklasfrahm/scp-action) in the meantime as I could not find out how to modify this action.

[2021-05-21 11:51] ayushmishra2005 opened #54 "How can we copy file from server to local?"
I am able to push a file from local to server using below script.

[code]

How can I do vice versa? How can I pull file from server?

[2021-05-21 21:05] thalesrbs commented on #52
Same error

[2021-05-22 15:45] nicklasfrahm commented on #54
Duplicate of #14.

[2021-05-25 09:56] odyss009 commented on #30
@appleboy  is there any update?

[2021-05-25 20:56] ZhilinS commented on #52
I switched to another scp action and everything was fine, until I started to make several consecutive requests - then it started to fail after a couple of tries. Perhaps the problem is that my remote server is hosted on the smallest DigitalOcean droplet and it cannot handle such "intentional" request rate.
After reducing count of requests to one, everything started working flawlessly.

[2021-06-08 09:43] zigang93 opened #55 "if else statement example?"
[code]

[2021-06-08 22:15] #55 closed

[2021-06-11 15:17] andy-blum opened #56 "scp-action doesn't respect default working-directory"
Config:
[code]

To be clear, the above config is _working_, but I have to enter `scraper` in as the source when I would expect the command to be executed from within that directory because of `jobs.<job-id>.defaults.run.working-directory`

[2021-06-17 20:02] mohammed8079 commented on #30
I also had the same error. I was using `cat ~/.ssh/key.pem` to view the key on terminal. Then, i was copying the key and creating the secret. I was able see the output similar to

[code]

The problem was with the % at the end. After removing the %, the error was gone.

[2021-06-19 19:33] trjohnst commented on #52
I received this issue when I was sending a file and listing the file name (with file extensions) in the `target` option, assuming it would land in the home directory of the user.

I changed it to `~/` and the issue went away.

[2021-07-09 07:09] holmofy opened #57 "drone-scp error: tput: No value for $TERM and no -T specified"
mysql scp action config like this:
[code]
The file has been copied successfully, I can see this file on the server.
But an error still occurred, causing the subsequent action to fail to execute.
[code]

[2021-07-25 13:17] Giuliopime opened #58 "Error: can't connect without a private SSH key or password"
My ci.yaml file

[code]

I've set my KEY secret in the repo to
[code]

And I get
[code]

Can't really understand where my issue is.

[2021-08-03 11:19] jd-0001 opened #59 "Can't copy content inside directory"
Hi,

Thanks for this great action. I tried `scp-action` and it is working really well except, I want to upload whole content inside the directory and if I try it using below yml it isn't working:

[code]

- `List current dir after download` outputs:
[code]

- `List documentation content after download` outputs:
[code]

My target dir is `/var/www/{somePath}/demo/{themeName}/documentation` and I wan

[2021-08-06 13:45] dreddko commented on #30
Hello. For me, it's not working as well.
However it works If I switch from scp-action to ssh-action and leave everything the same, except changing **source,target** to  **script**

[2021-08-21 21:17] agitnaeta opened #60 "Cannot Copy to target server"
I try to copy from `Github Action`
to my own server
it returns

---
File Github action

-rw-r--r-- 1 runner docker  35M Aug 21 21:13 website.tar.gz

---

Destination On server
`/home/devops`

---

   source: "website.tar.gz"
    target: /home/devops

`/usr/bin/docker run --name c9e036e2e49b491a4248bcb1185f8ba10fbaad_48d887 --label c9e036 --workdir /github/workspace --rm -e INPUT_HOST -e INPUT_USER

[2021-08-31 12:41] GiantRabbit opened #61 "When user default shell is set to RSSH, the action fails"
Remote users which are restricted in there operations, like most users which only need to do `SCP` operations, are unable to to `SCP` operations.

**STEPS TO REPRODUCE**

1. Create a user for remote access
2. Ensure it's default shell is set to `/usr/bin/rssh`
3. Run the action

**EXPECTED RESULT**
The same result as running `SCP` command while doing a manual upload

**ACTUAL RESULT**
The action f

[2021-09-06 00:05] matheusfrancisco commented on #60
I'm facing this same problem, if you know how to solve this, please could you post here @agitnaeta  ?

[2021-09-06 00:13] matheusfrancisco commented on #29
I'm facing this problem, does someone knows how to solve it?

[2021-09-16 19:49] gdevdeiv commented on #51
Tried all you said, same error. Any clues?

[2021-09-18 19:54] profnandaa commented on #60
Looks like the server must be a docker linux server as the fine-print on the README states. Facing the same issue...

[2021-09-21 13:00] PhathomComputing opened #62 "EOF error message: SHH copying to remote"
![image](https://user-images.githubusercontent.com/38705713/134174868-26099b0e-73a9-4f66-bc78-b3bd3ed9dfb1.png)

[2021-09-22 04:33] zigang93 commented on #30
encounter same issue.. I was able to do same config at ssh-action..
but no luck on scp-action..

my ssh key format is using the `ed25519`..

content :
[code]

not sure is it not support for `ed25519` but ssh-action does support `ed25519`?

[2021-09-23 10:44] #62 closed

[2021-09-24 13:43] ocervell commented on #30
@appleboy any updates here ? It's been quite a while since this doesn't work

[2021-09-24 16:58] aliiiabniki opened #63 "problem with tar for uploading process"
I have tried several times to upload the artifact but there is a problem that I don't know how to solve it

- error
<img width="1265" alt="Screen Shot 2021-09-24 at 20 23 10" src="https://user-images.githubusercontent.com/61788557/134712813-5a886c47-c230-4d37-ae27-dbd583c1669a.png">

- yaml file
<img width="1012" alt="Screen Shot 2021-09-24 at 20 27 52" src="https://user-images.githubusercontent.c

[2021-09-25 16:37] #63 closed

[2021-09-26 18:00] LuisPeregrina opened #64 "strip_components should be boolean, not int"
`strip_components: true` seems to be better than a truthy. It doesnt work with "true" as of right now

[2021-09-26 18:11] #64 closed

[2021-09-27 12:58] alexdeia commented on #52
Unfortunately, the same error.

[2021-09-27 13:26] alexdeia commented on #29
yes, try to use host and port **WITHOUT** repository secrets. just string and number - it works for me

[2021-09-29 14:29] RohitPrasadBhatt commented on #60
Did you try these ?
https://github.com/appleboy/scp-action/issues/29#issuecomment-927874463
https://github.com/appleboy/scp-action/issues/28#issuecomment-746647298

[2021-10-04 13:30] jd-0001 commented on #32
@appleboy I am facing the same issue. If I set working-directory as below:

[code]

and later if I use scp-action as below:

[code]

it can't find `dist` directory generated in `frontend` directory. Instead if I write like below:

[code]

it works. So, it is not respecting `working-directory`.

[2021-10-09 02:19] bbhxwl opened #65 "Published path problem."
The directory uploaded to the server becomes /var/www/test/github/workspace/Release
 not  /var/www/test
[code]

[2021-10-13 01:28] JoaoZanetti commented on #65
Same problem here! Did you found a fix?

[2021-10-13 01:41] bbhxwl commented on #65
Not yet. We have to cooperate with the upload and then execute the Linux command.

[2021-10-20 17:20] joshyhud opened #66 "SCP from one server to another"
Is is possible to use SCP and send a file from one server to another server which uses a different username and passphrase.

I have an action script that will ssh into the server and take a database backup which is great and works fine, but i need to scp the file from the initial server to another so i can update. Can i use this scp action to do this?

Any help would be great

[2021-10-25 12:00] aaron5670 opened #67 "Error copy file to dest: remote command exited without exit status or exit signal"
After the new update (v0.1.2) I can't deploy with this action.

See logs:
[code]

[2021-11-05 02:33] bbhxwl opened #68 "Upload error, I don't know why?"
C:\Users\47013\Downloads>scp --host 107.173.**** --username root --password ****  --target C:\Users\47013\Downloads\UartAssist.exe --source test
tar all files into C:\Users\47013\AppData\Local\Temp\127475259\jFLKXJCrOA.tar
tar: no files or directories specified
exit status 1

C:\Users\47013\Downloads>

[2021-11-09 16:24] fachreza73 commented on #67
@aaron5670 can you share your yml file?

[2021-11-09 22:04] Varin6 commented on #59
Same issue here, my yml:

`name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore CoffeeTime.sln
    - name: Build

[2021-11-09 22:31] Varin6 commented on #59
@jd-0001 Ok, just found a solution to this. It is:

`strip_components: 1`

Parameter.

Last bit of your code should be:

[code]

Notice slash at the end of `source` path and no `*`
I have not tested this with `rm: true` flag, so not sure how this would work.

[2021-11-10 04:59] jd-0001 commented on #59
Will let you know once I implement this in my new repo 👍🏻

[2021-11-10 16:38] aaron5670 commented on #67
@fachreza73 ofcourse! 😃

[code]

[2021-11-10 17:28] fachreza73 commented on #67
do you want to copy all contents inside `.../package/theme` and put the contents inside `.../themes/theme`?

[code]

or

[code]

have you try these?

[2021-11-10 18:13] aaron5670 commented on #67
Hi @fachreza73 Thank you, but I have already tried this. The YAML is correct, because I build the WordPress theme with Webpack.

[2021-11-11 10:12] FullStackTiger opened #69 "drone-scp error: error copy file to dest: ***, error message: Process exited with status 142"
See logs:

[code]

This is config:

[code]

Can you please confirm that? I am not clear what is the issue?

[2021-11-12 10:04] yarns123 opened #70 "ssh.ParsePrivateKey: ssh: no key found"
Im getting this error:
 `2021/11/12 09:59:53 ssh.ParsePrivateKey: ssh: no key found
2021/11/12 09:59:54 error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain
drone-scp error:  error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no s

[2021-11-18 11:15] felipeleivav commented on #65
Had same problem. You need to use strip_components parameter as specified on #59
[code]

[2021-11-25 18:52] goralczykmarcin opened #71 "Ignore dir name only in root"
Hi,
here is repo structure

dir1/xyz/override/
dir2/
override/

I'm trying to ignore all content of **override/** but not to ignore **dir/xyz/override/**

All my tries failed. My tries list:
(I use dot to target whole repo files)

source: ". ,!override/*"

source: ". ,!./override/*"

source: ". ,!./override/*, ./modules/*/override/*"

source: "./*.*,modules/*,themes/* ,!override/*"

I see no more

[2021-12-10 14:36] haidertm commented on #14
Need solution without fingerprint. Not using keys, Using passwords for ssh.

[2021-12-20 22:23] jeffreylanters opened #72 "Action Build fails; Docker build failed"
Hi, I'm here to notify a problem. While using SCP Action 0.1.2, the Build steps fails due to a Docker error where Docker exits with error code 1 due to a bad gateway. I doubt this has anything to do with this action, but Docker seems to be up and running according to their [status page](https://status.docker.com).

![image](https://user-images.githubusercontent.com/3404617/146840351-5aaa4c01-c410-

[2021-12-20 22:23] CervarlCG commented on #72
I am getting the same error

[2021-12-20 22:44] CervarlCG commented on #72
Ok docker now show issues in their services

![Screen Shot 2021-12-20 at 16 44 09](https://user-images.githubusercontent.com/53922412/146842500-fe2f2e59-c3c3-49af-bab9-1f1819dec669.png)

[2021-12-20 23:34] CervarlCG commented on #72
it's working now

[2021-12-21 07:46] #72 closed

[2021-12-22 11:39] amen-ma commented on #52
Hey I am getting this same issue right now and tried all of your guys work arounds aside from @ZhillinS recommendation to reduce the count of requests. Would you be able to walk me through how to do that on my droplet? I have the same configuration (smallest droplet DO offers)

[2021-12-29 20:17] josephjoguts commented on #69
HI, I have the same issue.  It happens randomly some of the time. Did you find any workaround?

[2022-01-05 21:55] Arthurolevsky opened #73 "How to override only changed files?"
Hi @appleboy,

Could you be so kind as to guide me how to upload to server only changed files?

Thanks in advance.

[2022-01-26 06:10] unicornware commented on #15
@appleboy i used your suggested config, but i'm still receiving the following error:

[code]

my config:

[code]

[2022-01-31 23:08] pjaspinski commented on #51
I had the same issue and it was caused by insufficient user's permissions in target directory.

[2022-02-19 15:26] mkhotib20 opened #74 "Error: Empty tar archive"
Hello there, i'm facing error when trying to scp my docker compose to server

here is my config
[code]

and here is the github action outpu
<img width="760" alt="image" src="https://user-images.githubusercontent.com/23493234/154807305-0c39205f-5360-482b-8d37-595872b45464.png">

thank you 🙏

[2022-02-19 15:27] mkhotib20 commented on #35
i'm facing this issue, but i have no idea whats wrong with my config, here's my open issue https://github.com/appleboy/scp-action/issues/74

[2022-02-21 08:35] KamleshTestEY commented on #52
I am getting the same error. i want to deploy my artifact into a Azure window VM.
Is "appleboy/scp-action@master" only for Linux VM?
 Can somebody help me here?

[2022-02-22 09:00] expertvillagemed opened #75 "Exclude Is not added"
Although the SCP works great but in case you have to exclude some file then this function is not available. I hoping that this will introduce in latest version

[2022-02-22 15:50] nweiler commented on #58
I'm having a very similar issue.

    - name: Copy file via ssh
      uses: appleboy/scp-action@master
      env:
        host: ${{ secrets.HOST }}
        key: ${{ secrets.KEY }}
        username: ${{ secrets.USERNAME }}
        port: ${{ secrets.PORT }}
      with:
        source: "target/*.jar"
        target: "test"

With these env vars:
![Screen Shot 2022-02-22 at 10 48 42 AM](https://user-im

[2022-02-26 04:33] LuisPeregrina commented on #65
@bbhxwl I had the same issue as you. I believe we can close this.

[2022-03-10 10:54] Samir684 opened #76 "How to unzip files/folder on remote server with github action"

[2022-03-11 18:52] rgstephens commented on #74
I also have this issue. Would prefer an option to disable use of `tar`

[2022-03-12 14:40] DesDaugtMa commented on #74
I have the same issue too

[2022-03-19 15:59] weisser-dev commented on #69
also having the same, has someone a solution maybe?

[2022-03-21 10:26] simon2022 opened #77 "drone-scp error: error copy file to dest: ***, error message: wait: remote command exited without exit status or exit signal"
The script sometimes throws this error:

`drone-scp error:  error copy file to dest: ***, error message: wait: remote command exited without exit status or exit signal`

It doesn't always happen, sometimes it works.
The /root path of the target server also contains the .tar file.

[2022-03-24 12:27] gizeasy commented on #77
Same problem.
I noticed that the archive appears on the server, its size is 0.
Execution of the script takes about 15 minutes, after which the above error occurs.

Can you suggest where to dig?

[2022-03-25 08:15] junxxx commented on #74
I also have the issue

[2022-03-29 21:36] allandiego commented on #77
im having same issue, in my case if the target folder already got the files in the tar archive the error appears, creating a new empty folder for the upload works without error i think its something related with replace files?

[2022-03-31 20:58] #67 closed

[2022-04-01 12:32] PythonWongXb commented on #15
scp file to server.
20[22](https://github.com/PythonWongXb/vue-nestjs-ci-cd/runs/5787194303?check_suite_focus=true#step:6:22)/04/01 11:45:15 error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none password], no supported methods remain
drone-scp error:  error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable t

[2022-04-01 12:32] PythonWongXb commented on #15
I'am so painful ,could you help me, sir

[2022-04-01 13:38] PythonWongXb commented on #15
I use the passworld and username to copy the dir to remote machine. why there is an error here, I can't understand.

[2022-04-02 04:29] PythonWongXb commented on #15
error password. thx guys.

[2022-04-03 14:37] Tikam02 commented on #26
same error - error message: dial tcp: lookup ***: no such host

[2022-04-03 14:50] Tikam02 commented on #15
scp file to server.
20[22](https://github.com/Tikam02/Testing_Arcs/runs/5806363498?check_suite_focus=true#step:5:22)/04/03 14:45:04 error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain
drone-scp error:  error copy file to dest: ***, error message: ssh: handshake failed: ssh: unable to authen

[2022-04-06 19:29] DanielGilB opened #78 "tar: empty archive downloading file from server"
Hey guys! Im trying to download a file from my server but i cant...

[code]

The error:

[code]
Any idea with that? I have been reading some related issue but i didnt found a solution. Thanks in advance!

[2022-04-08 20:01] DanielGilB commented on #78
I think I misunderstood the purpose of the action. Someone confirm if its possible to download files from the server. If its, source should be the server path and target the artifact ?

[2022-05-01 21:06] krlxgrn commented on #69
The wrong username was the cause of error 142 for me

[2022-05-05 06:43] natlibfi-jonollil opened #79 "SCP deprecation"
Are you gonna refactor this action to SFTP action?

"This release switches scp(1) from using the legacy scp/rcp protocol
to using the SFTP protocol by default."

More info: [https://www.openssh.com/txt/release-9.0](https://www.openssh.com/txt/release-9.0)

Thank you from awesome actions and drone plugins

[2022-05-25 19:03] DanielGilB commented on #78
Yes, thanks very much 😄

[2022-06-08 17:19] sairus7 opened #80 "Got permission denied while trying to connect to the Docker daemon socket"
What do you mean by stating:

I tried to do this action on self-hosted runner Ubuntu 20.04 with docker installed - and got the following error:
[code]

Should I set up self-hosted runner to be run not from VM but from a Linux container? If so, which container should I chose?

[2022-06-27 15:57] kapoko commented on #77
Thanks @allandiego for pointing me in the right direction. Adding
[code]
seems to help me.

[2022-06-29 06:19] aidoit commented on #58
I have the same issue , how to fix it? Is it related to server configuration?

[2022-06-29 09:08] b0nbon1 commented on #74
I'm also facing the same issue

[2022-07-03 15:20] mstaudt commented on #77
I also got this issue, turns out it occurs when you're in the directory you're trying to copy to on the server! Make sure to close your SSH connections to the target or navigate to some other directory.

[2022-07-03 22:25] csalmeida commented on #74
Facing the same issue, the goal for me is to build the project and copy it over to a server over SCP.
I have a `build` folder with the theme files here:

[code]

Files copy sucessfully and the build steps run but when running

[code]

It fails with the following output:

[code]

Any tips on how to get past this would be really appreciated. 🙏

[2022-07-04 00:26] csalmeida commented on #74
Actually it was my `target` path that was wrong.

For example, if you would like to copy files to `var/www` and you type `var/www/project` you'll actually get the files copied to `var/www/var/www/project`. Changing the target to `project` worked.

[2022-07-06 09:05] aledesigncouk commented on #78
I had the same issue, and solved following this solution: [Stack Overflow](https://stackoverflow.com/questions/60253093/how-do-i-scp-repo-files-using-github-actions)

adding this bit before the scp-action:
`- name: Run a multi-line script
        run: |
          mkdir ../build
          cp -TR . ../build
          tar -cvf deploy.tar ../build/`

[2022-07-18 11:50] krzema12 opened #82 "[Feature request] Add action typings"
Hi @appleboy!

Maintainer of https://github.com/krzema12/github-actions-kotlin-dsl here. Your actions have first-class support in the library.

Recently we've come up with a way to reduce operational load when keeping library's action wrappers in sync with action's inputs. The solution includes onboarding https://github.com/krzema12/github-actions-typing. It's as easy as adding an extra YAML file

[2022-07-28 21:50] Biffyn commented on #70
For those having the same issue.

I ran into this and fixed it by copying the whole private key including the comments and adding it to the secrets of the GitHub repo. So the copied key should include `-----BEGIN PRIVATE KEY-----` and `-----END PRIVATE KEY-----`.

Example:
[code]

[2022-07-30 02:22] appleboy commented on #70
@yarns123 Can you help to try https://github.com/appleboy/scp-action/releases/tag/v0.1.3 version?

[2022-07-30 02:30] appleboy commented on #70
Also, see the https://github.com/appleboy/scp-action#setting-up-a-ssh-key section.

[2022-07-31 18:23] mrusme opened #83 "`error: tar: unknown option -- -`"
Something seems to have changed with the last versions of this action because it suddenly stopped working for me:

[code]

[2022-08-01 02:59] #83 closed

[2022-08-09 12:32] yusufmalikul opened #84 "Rename output file"
Hi, thank you for creating this action.
I want to rename the target file name. In SCP it looks like this:
[code]

How to do this?

[2022-08-15 22:14] mrusme commented on #69
I can confirm that *something* seems to be borken with `drone-scp`. I tested copying a file from my local machine using `scp` and it worked without an issue:

[code]

However, the same command using `drone-scp` fails for no obvious reasons:

[code]

On thing that I thought would fix this was the `tar` command on the other end, that is a UNIX `tar`, which I linked to `gtar` (GNU `tar`). I additiona

[2022-08-17 09:44] Shekhar-Shivam commented on #51
I got this error when trying to scp via username and password.  I Tried the to SCP via SSH-KEYGEN  key pairs and it actually worked !!!

[2022-08-23 21:26] Deitsch commented on #77
Also getting this very often, any ideas? :/

[2022-08-31 04:49] hzqst opened #85 "SPACE not supported in "target"?"
[code]

the target is something like :

`target: "/root/.steam/steamapps/common/Sven Co-op Dedicated Server/"`

[2022-09-01 15:39] zploited opened #86 "Use password and key at same time"
Hi,
To upload files/connect via ssh my provider requires both password AND private key to authenticate.
If I set both in yml, then I get the error: can't set password and key at the same time

is there something I can do to get around this?

[2022-09-02 12:41] changty commented on #58
I had to define the name of the environment that has all the properties to make this work
[code]

[2022-09-06 08:32] rkhyd opened #87 "Not working nor giving cause of the error"
`tar: removing leading '/' from member names

tar all files into /tmp/3388388[5](https://github.com/rkhyd/jshelpdesk/runs/8202509198?

check_suite_focus=true#step:4:5)1/IOfRvcHHfe.tar

tar: /run/docker.sock: socket ignored

tar: short read

exit status 1
`

This is the error when doing the scp action.
Not sure what is the issue here.

[2022-09-12 21:28] vinicioslc commented on #77
Hi people !
I have this error when my HD has the space completely full erase all tmp and junks stop show this message

[2022-09-22 21:44] PsclDev opened #88 "ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey]"
My pipeline fails and it throws the message of the title.

I checked the readme and also read about the supported algorithms.
My key is using `ed25519` algorithm.
If I am trying to run the scp command locally on my machine it is working:
`scp -r -i file srcDir user@host:rootDir`

Dont know why it throws me that issue when everything seems to me right at the moment.

My yml is quite simple and all

[2022-09-23 20:48] firassziedan commented on #58
@changty Thanks
Add the `environment` key fix this issue

[2022-09-29 14:24] aarondavidgepersonal commented on #58
![image](https://user-images.githubusercontent.com/114311538/193057364-e33ba89e-2e08-478b-9f02-2984363ed8f2.png)

![image](https://user-images.githubusercontent.com/114311538/193057599-92595880-c72f-401a-bd61-cf0ae25f7a92.png)

![image](https://user-images.githubusercontent.com/114311538/193057801-1979b4db-d2fa-4b3f-813b-5735c2f5a93a.png)

Keep getting the same issue.
Can't for the life of me figu

[2022-09-29 15:26] aarondavidgepersonal commented on #58
![image](https://user-images.githubusercontent.com/114311538/193073402-8f6bb1ed-daab-4077-be5d-96354d68f448.png)

[2022-09-29 15:26] aarondavidgepersonal commented on #58
https://stackoverflow.com/q/73897889/20106335

[2022-09-29 16:15] Elikill58 commented on #77
Hi,
I'm getting same issue. It works 50% of time: each fail need to be run again to make it works.
The disk is used at 66%.

[2022-10-03 19:53] EntreNousCorporation commented on #88
Hello,
i had a similar error : `error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain`

[2022-10-09 18:02] bbhxwl opened #89 "我如果想传多个文件夹怎么设置？"
不是对个文件，是文件夹

[2022-10-10 14:51] bbhxwl opened #90 "Files and folders cannot be ignored."
- name: copy file via ssh key
  uses: appleboy/scp-action@master
  with:
    host: ${{ secrets.HOST }}
    username: ${{ secrets.USERNAME }}
    port: ${{ secrets.PORT }}
    key: ${{ secrets.KEY }}
    source: "/home/runner/work/GameRadar/*,!/home/runner/work/GameRadar/pages,!/home/runner/work/GameRadar/1.json"
    target: "test"

[2022-10-18 14:45] stafyniaksacha commented on #52
Can happen if your host has an ipv6 and your firewall only allow ipv4

[2022-10-24 11:11] dehjvg opened #91 "Node 12"
as github is closing done 12

runs:
  using: 'node12'

  should be changed to

  runs:
  using: 'node16'

[2022-10-24 11:13] #91 closed

[2022-11-01 13:11] banapy commented on #65
The folder path of the server is /home/solution-box/server/go/src/server/go/src/app,but is expected to be /home/solution-box/server/go/src/app,strip_components parameter not work
[code]

[2022-11-11 21:17] TadeoArmenta commented on #58
In my case, was just a matter of making all the connection-related keys to caps

[code]